.container {
    width: 60%;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .movie-card {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% / 2 - 40px);
        margin: 20px;
        text-align: center;
        height: 150px;
        border: 2px solid black;
        background-color: white;
    }

    .movie-card:hover {
        background-color: lightgray;
    }
}